<h2>Create a New Employee:</h2>
<form [formGroup]="employeeprofileForm" (ngSubmit)="onSubmit()">
  <label>
    Enter Firstname:
    <input type="text" formControlName="firstname">
  </label>
  <label>
    Enter Lastname:
    <input type="text" formControlName="lastname">
  </label>
  <label>
    Enter Employee Code:
    <input type="number" formControlName="code">
  </label>
  <label>
    Assign a Department
    <select formControlName="department">
      <option *ngFor="let department of departments" [ngValue]="department">
        {{department}}
      </option>
    </select>
  </label>
  <label>
    Assign a Manager
    <select formControlName="manager">
      <option *ngFor="let manager of managers" [ngValue]="manager">
        {{manager}}
      </option>
    </select>
  </label>
  <p>
    <button type="submit">Add New Employee</button>
  </p>
</form>

<h2>Update Employee By Id:</h2>
<form [formGroup]="employeeprofileForm" (ngSubmit)="onSubmit()">
  <label>
    Enter Firstname:
    <input type="text" formControlName="firstname">
  </label>
  <label>
    Enter Lastname:
    <input type="text" formControlName="lastname">
  </label>
  <label>
    Enter Employee Code:
    <input type="number" formControlName="code">
  </label>
  <p>
    <button type="submit">Add New Employee</button>
  </p>
</form>

<h2>Delete Employee By Id:</h2>
<form [formGroup]="employeeprofileForm" (ngSubmit)="onSubmit()">
  <label>
    Enter Employee Id:
    <input type="number" formControlName="firstname">
  </label>
  <p>
    <button type="submit">Delete Employee</button>
  </p>
</form>

<h2>View all employees</h2>
<button style="margin: 0 0 20px 0" (click)="getUsers()">View All Employees</button>
<table border="1">
  <tr>
    <td>Id</td>
    <td>Firstname</td>
    <td>Lastname</td>
    <td>Employee Code</td>
    <td>Department</td>
    <td>Manager</td>
  </tr>
  <tr *ngFor="let item of result">
    <td>{{item.userid}}</td>
    <td>{{item.firstname}}</td>
    <td>{{item.lastname}}</td>
    <td>{{item.code}}</td>
    <td>{{item.department}}</td>
    <td>{{item.manager}}</td>
  </tr>

</table>
<div class="launch-task" style="padding: 20px 0 0 0">
  <button mat-raised-button color="primary" (click)="goHome();">Return to Home</button>
</div>